.wordle-btn{
    background-color: #a0c35a!important;
    border-color: #a0c35a!important;
}
.connections-btn{
    background-color: #b0c4ef!important;
    border-color: #b0c4ef!important;
}
.phrazle-btn{
    background-color: #ba81c5!important;
    border-color: #ba81c5!important;
}
.score-board{
    width:135px;
    margin-bottom: 30px;
}
.bg-primary-gn{
    background-color: #a0c35a!important;
}
.login-section{
    background-color: #ba81c5!important;
}
.bg-white{
    background-color: #ffffff;
}